.nav li:nth-child(6):after { content: "";border-bottom: 4px solid #48b4ff;display: block;margin: auto;}
.nav li:nth-child(6) a{ color: #333;}
.navbar { position: relative;}
.container1 { margin: auto;width: 882px;}
/*banner*/
.contact { height: 200px; text-align: center; background: url("../img/contact.png") no-repeat;background-size: 100%;color: #fff;}
.contact h2 { line-height: 78px;font-size: 35px;}
.contact p { font-size: 22px;}
/*touch*/
.touch { overflow: hidden;margin:20px auto 50px;}
.right .top h2 { font-size: 26px;color: #666666;line-height: 34px;margin:10px 0;}
.right .top { padding-left: 34px;}
.right .top .welcome { margin-bottom: 30px;}
.right .top input { width: 356px;height: 34px;border: 1px solid #ccc;margin-bottom: 12px;}
.right .top button {  outline:none;width: 145px;background: #40a5fd;height: 34px;border: none;color: #fff;font-size: 13px;margin-top: 10px;}
.left .bottom { padding:90px 0 0 45px;}
.left .bottom p { color: #666666;font-size: 12px;line-height: 20px;}
.left .bottom p span{ color: #d6d4d4;}
.bot { margin-bottom: 20px;}
#allmap{ height: 290px;width: 100%;}
.right .bottom { padding-top: 56px;}
