.nav li:nth-child(3):after { content: "";border-bottom: 4px solid #48b4ff;display: block;margin: auto;}
.nav li:nth-child(3) a{ color: #333;}
.navbar { position: relative;}
.container1 { width: 876px;margin: auto;}
/*banner*/
.news-text { margin: 20px auto 30px;}
.news-text:after{ content: "";border-bottom: 4px solid #48b4ff;display: block;margin: auto;width: 24px;}
.news-text h2{ font-size: 28px;color: #666;line-height: 66px;margin-top: 30px;}
.news-text p{ font-size: 16px;color: #666;line-height: 24px;margin-bottom: 37px;}

.quick { background: url("../img/contact.png") no-repeat;height: 200px;background-size: 100%;}
.quicklist { margin: 50px auto 0; overflow: hidden;}
.quicklist img { float: left;}
.quicklist .quicktext { float: left;margin-left: 30px;}
.quicklist .quicktext h2{ color: #333;font-size: 16px;line-height: 32px;margin-top: 20px;}
.quicklist .quicktext h2:hover { color: #48b4ff;}
.quicklist .quicktext p{ color: #999;font-size: 13px;line-height: 24px;width: 570px;}
.lastlist { margin-bottom: 40px;}
.nav1 { margin: 20px auto;}